<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión en TotalTasks</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Google One Tap API -->
	<script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <div class="izquierda">
        <h1>Gestiona tus tareas de forma más eficiente</h1>
        <p>Inicia sesión en TotalTasks para seguir organizando tus proyectos y tareas.</p>
        <img src="assets/registro/collage.png" class="fotoIzquierda">
    </div>

    <div class="form-container">
        <img class="logo" src="assets/logo.png">
        <h2>¡Bienvenido de nuevo!</h2>
        <form id="login">
            <div class="form-group">
                <label for="usuario">Nombre de usuario:</label>
                <input type="text" id="usuario" name="usuario" required placeholder="Ingresa tu usuario" />
            </div>

            <div class="form-group">
                <label for="contrasenia">Contraseña:</label>
                <input type="password" id="contrasenia" name="contrasenia" required
                    placeholder="Ingresa tu contraseña" />
            </div>

            <button type="submit" class="btn-submit">Iniciar sesión</button>

            <!-- Login con Google -->
            <div id="g_id_onload"
                data-client_id="978494635156-kn9vmufnugkahlhptbvmtah7jt7r60h8.apps.googleusercontent.com"
                data-login_uri="http://localhost:9091/tokensignin" data-auto_prompt="true">
            </div>

            <p>O inicia sesión con:</p>
            <div class="login-alternativo">
                <!-- Icono Login Google -->
                <div class="g_id_signin" data-type="standard"></div>
                <!-- Icono Login Github -->
                <img src="/assets/index/redes/github.png" id="github-login" style="width: 50px;"></img>
            </div>

            <p>¿No tienes cuenta? <br><a href="/registro">Regístrate</a></p>
        </form>
    </div>

    <div id="modalError" class="modalError">
        <div class="modalErrorContenido">
            <div class="modalErrorHeader">
                <h2>Error en el formulario</h2>
                <button class="cerrarModalError" onclick="cerrarModalError()">✖</button>
            </div>
            <div class="modalErrorBody">
                <span class="iconoError">⚠️</span>
                <p id="mensajeError"></p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="js/login.js"></script>
</body>

</html>