<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="/css/miPerfil.css">
</head>

<body>
    <h1>Configurar mi perfil</h1>

    <!-- Foto de perfil en base64 -->
    <div class="fotoPerfil" th:if="${fotoPerfilBase64 != null}">
        <p>Foto de perfil actual:</p>
        <img th:src="'data:image/jpeg;base64,' + ${fotoPerfilBase64}" alt="Foto de perfil" width="150">
    </div>

    <!-- Foto de perfil de Google -->
    <div class="fotoPerfil" th:if="${fotoPerfilBase64 == null and !#strings.isEmpty(fotoperfilGoogle)}">
        <p>Foto de perfil actual (Google):</p>
        <img th:src="${fotoperfilGoogle}" alt="Foto de perfil Google" width="150"
            onerror="this.onerror=null; this.src='/assets/dashboard/foto-perfil.webp';">
    </div>

    <!-- Foto de perfil de GitHub -->
    <div class="fotoPerfil"
        th:if="${fotoPerfilBase64 == null and #strings.isEmpty(fotoperfilGoogle) and !#strings.isEmpty(fotoPerfilGithub)}">
        <p>Foto de perfil actual (GitHub):</p>
        <img th:src="${fotoPerfilGithub}" alt="Foto de perfil GitHub" width="150">
    </div>

    <!-- Imagen por defecto -->
    <div class="fotoPerfil"
        th:if="${fotoPerfilBase64 == null and #strings.isEmpty(fotoperfilGoogle) and #strings.isEmpty(fotoPerfilGithub)}">
        <p>Foto de perfil actual (por defecto):</p>
        <img th:src="@{/assets/dashboard/foto-perfil.webp}" alt="Foto de perfil por defecto" width="150">
    </div>


    <!-- Formulario -->
    <form th:action="@{/usuarios/perfilEditado}" method="post" enctype="multipart/form-data">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" th:value="${usuario.nombre}" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                title="El nombre no puede contener números ni caracteres especiales." maxlength="100" required>
        </div>
        <div>
            <label for="fotoPerfil">Nueva foto de perfil</label>
            <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/*">
        </div>
        <div>
            <button type="submit">Guardar cambios</button>
        </div>
        <a href="/dashboard">Volver a mis proyectos.</a>
    </form>
</body>

</html>