/* Importación de las fuentes directamente en el CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Paleta de colores y tipografía */
:root {
	/* Colores */
	--color-primario: #007BFF;
	--color-primario-hover: #0056b3;

	--color-secundario: #28A745;
	--color-secundario-hover: #1e7e34;

	--color-fondo: #F8F9FA;

	--color-texto: #343A40;

	--color-advertencia: #FD7E14;
	--color-advertencia-hover: #e67e00;

	--color-error: #DC3545;
	--color-error-hover: #c82333;

	--color-sombra: #E9ECEF;

	--color-info: #17a2b8;
	--color-info-hover: #117a8b;

	--color-warning: #ffc107;
	--color-warning-hover: #e0a800;

	--color-muted: #6c757d;
	--color-muted-hover: #5a6268;

	/* Tipografía */
	--fuente-principal: 'Poppins';

	/* Tamaños de fuente */
	--tamano-titulo: 2rem;
	--tamano-subtitulo: 1.5rem;
	--tamano-texto-grande: 1.25rem;
	--tamano-texto-mediano: 1.2rem;
	--tamano-texto: 1rem;
	--tamano-texto-pequeno: 0.875rem;
	--tamano-texto-extra-pequeno: 0.75rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--fuente-principal);
	background-color: var(--color-fondo);
	color: var(--color-texto);
	margin: 0;
	padding: 0;
}

/* Tipografía general para encabezados y párrafos */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--fuente-principal);
	color: var(--color-primario);
	margin: 0;
	padding: 0;
}

h1 {
	font-size: var(--tamano-titulo);
}

h2 {
	font-size: var(--tamano-subtitulo);
}

p {
	font-size: var(--tamano-texto);
	line-height: 1.5;
}

a {
	color: var(--color-primario);
	text-decoration: none;
	text-align: center;
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* Fondo modal ERROR */
.modal-error {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}

/* Contenido del modal */
.modal-error-content {
	background-color: #fff;
	border-left: 6px solid var(--color-error);
	padding: 2rem 1.5rem;
	border-radius: 12px;
	max-width: 400px;
	width: 90%;
	text-align: center;
	box-shadow: 0 8px 20px rgba(220, 53, 69, 0.2);
	position: relative;
	animation: aparecer 0.3s ease-in-out;
}

/* Título */
.modal-error-title {
	color: var(--color-error);
	font-size: var(--tamano-subtitulo);
	margin-bottom: 0.5rem;
	font-weight: 700;
}

/* Mensaje */
.modal-error-message {
	color: var(--color-texto);
	font-size: var(--tamano-texto);
	margin-bottom: 1.5rem;
}

/* Botón de cierre */
.modal-error-close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 1.5rem;
	color: var(--color-error-hover);
	transition: color 0.2s ease;
	cursor: pointer;
}

.modal-error-close:hover {
	color: var(--color-error);
}

/* ANIMACION DE APARECER MODALES */
@keyframes aparecer {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


/* Animación de aparición para el modal */
@keyframes modal-appear {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.fc-button {
	background-color: var(--color-primario) !important;
	border: var(--color-primario) !important;
}